<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableViewCellDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69602ECE1CFFE8CF002BC583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69602EE71CFFE8CF002BC583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69602EF21CFFE8CF002BC583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
